@import '~@nti/style-common/all.scss';

body {
	font: normal 400 0.9em/2.8em "Open Sans", sans-serif;
}

.launch {
	color: white;
	background-color: #3fb3f6;
	padding: 2px;
	cursor: pointer;
	border-radius: 2px;
	width: 100px;
	text-align: center;
	font-size: 16px;
}


canvas {
	width: 600px;
	height: 500px;
}

.modal-mask {
	background: none;
}
