.community-image-editor {
	position: relative;
}

.community-image {
	width: 100%;
}

.note {
	padding: 1.25rem;
}

.note .label {
	display: block;
	font-size: 0.625rem;
	font-weight: bold;
	text-transform: uppercase;
	color: var(--secondary-grey);
}

.note .message {
	display: block;
	font-size: 0.875rem;
	font-weight: normal;
	color: var(--secondary-grey);
}

.change-asset:global(.nti-button) {
	position: absolute;
	top: 1rem; bottom: auto;
	left: auto; right: 1rem;
	padding: 6px 12px;
	background-color: rgba(51, 51, 51, 0.92);
	border-radius: 2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.change-asset i {
	opacity: 0.4;
	margin-right: 0.5rem;
	font-size: 1.125rem;
}

.change-asset .change {
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 1.3;
}