.nti-image-editor {
	min-width: 70vh;
	padding: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;

	.canvas-container {
		position: relative;
		flex: 0 0 auto;
	}

	canvas {
		position: absolute;
		top: 0; bottom: 0;
		left: 0; right: 0;
		width: calc(100% + 40px);
		height: calc(100% + 40px);
		display: block;

		border: 1px solid red;
	}

	.tool-bar {
		display: none;
	}
}
