.nti-image-editor {
	display: flex;
	align-items: center;
	flex-direction: column;

	.canvas-container {
		position: relative;
		flex: 0 0 auto;
	}

	canvas {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: calc(100% + 40px);
		height: calc(100% + 40px);
		display: block;
	}

	.tool-bar {
		display: none;
	}
}
