@import '~@nti/style-common';

.nti-image-upload {
	.image-preview {
		position: relative;
		width: 200px;

		img {
			width: 200px;
			height: 100%;
			border: 1px solid rgba(0, 0, 0, 0.1);
		}

		.remove-image {
			position: absolute;
			top: 10px;
			right: 10px;

			.nt-remove-button i {
				border: solid 2px white;
			}
		}
	}

	.image-upload-container {
		width: 200px;
		max-height: 132px;
		position: relative;
		margin: 0;

		&:focus-within {
			box-shadow: 0 0 3px 1px var(--primary-blue);
		}

		@media (--respond-to-handhelds) {
			margin-bottom: 10px;
		}

		.nti-image-editor-upload {
			height: 132px;
			width: 200px;
			padding: 1.625rem 0;

			input {
				z-index: 10;
			}

			.container {
				i {
					margin-top: 0;
					opacity: 0;
				}

				.title,
				.choose-container {
					display: none;
				}

				.error-container {
					margin-top: 2.25rem;
					font-size: 12px;
				}
			}

			/* nested? */
			.nti-image-editor-upload .container i {
				margin-top: 0;
			}
		}

		.content {
			position: absolute;
			bottom: 38px;
			width: 200px;
			text-align: center;
			color: var(--secondary-grey);
			z-index: 0;

			i {
				font-size: 36px;
			}

			.text {
				margin-top: 14px;
				font-size: 14px;
			}
		}
	}
}
