name: Project Health

on:
  schedule:
    # every monday morning at 7:00am (central)
    # https://crontab.guru/#0_13_*_*_1
    - cron:  '0 13 * * 1'

  push:
    branches:
      - master
      - 'maint-*'
    paths-ignore:
      - '*.yml'
    tags:
      - 'v[0-9]+*'

  pull_request:
    branches:
      - master

env:
  CI: true

jobs:
  Verify:
    runs-on: ubuntu-latest
    steps:

      - name: install SSH key
        uses: webfactory/ssh-agent@v0.4.0
        with:
          ssh-private-key: ${{ secrets.ACTIONS_REPO_ACCESS }}

      - name: clone
        uses: actions/checkout@v2

      - name: setup nodejs
        uses: actions/setup-node@v1
        with:
          node-version: "14.x"

      - name: configure npm
        env:
          NPM_REGISTRY: ${{ secrets.NPM_REGISTRY }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          npm config set loglevel error
          npm config set progress false
          npm config set '@nti:registry' "$NPM_REGISTRY"
          npm config set "${NPM_REGISTRY/https:/}/:_authToken" "$NPM_TOKEN"

      - name: install dependencies
        run: npm install

      - name: test
        run: npm test

      - name: lint
        run: npm run check --if-present

      - name: notify of failure
        if: failure()
        env:
          LINK: ${{ format('<https://github.com/{0}/actions|{0} failed>', github.repository) }}
        run: |
          MESSAGE="{\"text\": \"\n#### :stop_sign: $LINK :eyes:\" }"
          curl -i -X POST -H 'Content-Type: application/json' -d "$MESSAGE" ${{secrets.MM_HOOK}}
