name: Project Health

on:
    schedule:
        # every monday morning at 7:00am (central)
        # https://crontab.guru/#0_13_*_*_1
        - cron: '0 13 * * 1'

    push:
        branches:
            - master
            - 'maint-*'
        paths:
            - 'src/**.jsx?'
            - 'src/**.mjs'
            - 'src/**.cjs'
            - 'src/**.snap'
            - 'src/**.json'

    pull_request:
        branches:
            - master

env:
    CI: true

jobs:
    Verify:
        runs-on: ubuntu-latest
        steps:
            - name: Cancel Previous Runs
              uses: styfle/cancel-workflow-action@0.5.0
              with:
                  access_token: ${{ github.token }}

            - name: install SSH key
              uses: webfactory/ssh-agent@v0.4.1
              with:
                  ssh-private-key: ${{ secrets.ACTIONS_REPO_ACCESS }}

            - name: clone
              uses: actions/checkout@v2

            - name: setup nodejs
              uses: actions/setup-node@v2
              with:
                  node-version: '15'

            - uses: actions/cache@v2
              with:
                  path: ~/.npm
                  key: ${{ runner.os }}-node-${{ hashFiles('**/package.json') }}
                  restore-keys: |
                      ${{ runner.os }}-node-

            - name: configure npm
              env:
                  NPM_REGISTRY: ${{ secrets.NPM_REGISTRY }}
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
              run: |
                  npm config set loglevel error
                  npm config set progress false
                  npm config set '@nti:registry' "$NPM_REGISTRY"
                  npm config set "${NPM_REGISTRY/https:/}/:_authToken" "$NPM_TOKEN"
                  git config --global url."git@github.com:".insteadOf "https://github.com/"

            - name: install dependencies
              run: |
                  (test ! -f package-lock.json && npm i) || echo 'Lock found, skipping npm i'
                  (test -f package-lock.json && npm ci) || echo 'No lock, skipping npm ci'

            - name: test
              run: npm test

            - name: lint
              run: npm run check --if-present

            - name: notify of failure
              if: ${{ failure() && github.event_name != 'pull_request' }}
              env:
                  LINK: ${{ format('<https://github.com/{0}/actions|{0} failed>', github.repository) }}
              run: |
                  MESSAGE="{\"text\": \"\n#### :stop_sign: $LINK :eyes:\" }"
                  curl -i -X POST -H 'Content-Type: application/json' -d "$MESSAGE" ${{secrets.MM_HOOK}}
